<template>
  <footer class="main-footer">
    <strong>Copyright &copy; 2020
      </strong>
    Ditto Thailand Co., Ltd.
  </footer>
</template>

<script>


export default {
  computed:{
    getVersion(){
      return this.$config.ver
    }
  }
}
</script>


