<template>
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->    
  </nav>
  <!-- /.navbar -->
</template>

<script>
export default {
  data(){
    return {
    }
  },
  computed:{
  }
}
</script>
