<template>
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">

    <!-- Sidebar -->
    <div class="sidebar">

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul
          class="nav nav-pills nav-sidebar nav-child-indent flex-column"
          data-widget="treeview"
          role="menu"
          data-accordion="false"
        >
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
</template>

<script>
export default {
  data(){
    return {
    }
  },
  computed:{
    getCompLogoPath() {
      // get store CompLogoPath from index
      var path = this.$store.state.companylogopath
      return path
    },
    getCompName() {
      // get store companyname from index
      return this.$store.state.companyname
    }
  },
  mounted: async function() { // DOM is rendered
    this.logoKey += 1
  }
}
</script>

<style>

</style>
