<template>
<div>
  <!-- Content Header (Page header) -->
  <div class="content-header">
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
  <div class="container-fluid">
  <div class="row"><div class="col-12">
        
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Reports</h3>
      <!-- /.card-tools -->
    </div>
      <!-- /.card-header -->
    <div class="card-body">
      <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
          <div class="col-12">
            <tableReport :column=col :query=reports />
            <!-- {{reports}} -->
          </div>
        </div>
          
      </div>
    </div>
      <!-- /.card-body -->
  </div>


  </div><!-- /.col-sm-12 --></div>
  <!-- /.row (main row) -->
  </div>
  <!-- /.container-fluid -->
  </section>
    <!-- /.content -->

</div>
</template>

<script>
import tableReport from '~/components/tables/table'
// import csv from 'csvtojson'

// const csvFilePath = process.env.CSV_PATH_RELATIVE

let BASE_URL = process.env.BASE_URL

const _col = ['Contract No','Customer','Start date','End date','Last Action','Remaining Time']

export default {

  data(){
    return {
      col:_col
    }
  },
  layout: 'adminLte',
  components: {
    tableReport
  },
  async asyncData({$axios}) {
    // axios call
    const reports = await $axios.$get('/api/getcsv/')
    // let reports = {}
    return {reports};
  },
  methods:{
    // NUXT content
    // getBody(rep){
    //   return rep[0]['body']
    // } 
  },
  computed:{
  },
  head: {
    title: 'cr-dashboard',
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      { hid: 'description', name: 'description', content: '' }
    ],
    link: [
      { rel: 'stylesheet', href: `${BASE_URL}/plugins/fontawesome-free/css/all.min.css` },
      //{ rel: 'stylesheet', href: 'https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' },
      // { rel: 'stylesheet', href: `/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css` },
      { rel: 'stylesheet', href: `${BASE_URL}/plugins/icheck-bootstrap/icheck-bootstrap.min.css` },
      { rel: 'stylesheet', href: `${BASE_URL}/plugins/jqvmap/jqvmap.min.css` },
      { rel: 'stylesheet', href: `${BASE_URL}/public/css/adminlte.min.css` },
      { rel: 'stylesheet', href: `${BASE_URL}/plugins/overlayScrollbars/css/OverlayScrollbars.min.css` },
      { rel: 'stylesheet', href: `${BASE_URL}/plugins/daterangepicker/daterangepicker.css` },
      { rel: 'stylesheet', href: `${BASE_URL}/plugins/summernote/summernote-bs4.css` },
      { rel: 'stylesheet', href: `${BASE_URL}/plugins/datatables-bs4/css/dataTables.bootstrap4.css` },
      { rel: 'stylesheet', href: 'https://fonts.googleapis.com/icon?family=Material+Icons' },
      { rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700' }
    ],
    script: [
      { src: `${BASE_URL}/plugins/jquery/jquery.min.js`, body: true },
      { src: `${BASE_URL}/plugins/jquery-ui/jquery-ui.min.js`, body: true },
      { src: `${BASE_URL}/plugins/bootstrap/js/bootstrap.bundle.min.js`, body: true },
      { src: `${BASE_URL}/plugins/chart.js/Chart.min.js`, body: true },
      { src: `${BASE_URL}/plugins/sparklines/sparkline.js`, body: true },
      { src: `${BASE_URL}/plugins/jqvmap/jquery.vmap.min.js`, body: true },
      { src: `${BASE_URL}/plugins/jqvmap/maps/jquery.vmap.usa.js`, body: true },
      { src: `${BASE_URL}/plugins/jquery-knob/jquery.knob.min.js`, body: true },
      { src: `${BASE_URL}/plugins/daterangepicker/daterangepicker.js`, body: true },
      // { src: `/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js`, body: true },
      { src: `${BASE_URL}/plugins/summernote/summernote-bs4.min.js`, body: true },
      { src: `${BASE_URL}/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js`, body: true,defer:true,async:false },
      { src: `${BASE_URL}/public/js/adminlte.min.js`,body: true},
      { src: `${BASE_URL}/plugins/datatables/jquery.dataTables.js`, body: true },
      { src: `${BASE_URL}/plugins/datatables-bs4/js/dataTables.bootstrap4.js`, body: true }
    ],  
      bodyAttrs: {
        class: 'sidebar-collapse',
      },
    },
  // VUE instance is created
  async created(){
  },
  // After Vue instance is created
  fetch() {
  },
  // DOM is rendered
  mounted() {
  }
}  
</script>

<style>
a{color:black}
</style>
