<template>

<div class="row">
<!-- full table width -->
<div class="col-12">
<table id="dataTable" class="table table-hover " role="" aria-describedby="">

<!-- table head -->
<thead>
<tr role="">
  <!-- on click route sorting_asc-->
<th v-for="c in column" class="sorting">
{{c}}
</th>
<!-- <th class="sorting sorting_asc">{{column.slice(-1)[0]}}</th> -->
</tr>
</thead>

<!-- table body -->
<tbody>
<tr v-for="row_obj in query_remain" role="">
<td style="cursor: pointer;" v-for="item in filterQuery(row_obj)">{{item}}</td>
</tr>
</tbody>
</table>

</div>
<!-- .col-12 -->
</div> 
<!-- .row -->
</template>

<script>
import { DateTime } from 'luxon'
const zero ='0'

export default {
    props:{
      column:{
        type: Array
      },
      query:{
        type: Array // i.e. [ { "Instance": "52", "Contract No": "1235474", "Customer": "True corporation", "Start date": "3/24/2021", "End date": "3/3/2027", "Last Action": "", "Last Action_Cancel": "", "Last Action_Renew": "" }, { "Instance": "51", "Contract No": "", "Customer": "test", "Start date": "3/23/2021", "End date": "3/18/2025", "Last Action": "", "Last Action_Cancel": "", "Last Action_Renew": "" }, { "Instance": "50", "Contract No": "", "Customer": "test", "Start date": "3/11/2021", "End date": "3/16/2023", "Last Action": "", "Last Action_Cancel": "", "Last Action_Renew": "" } ]
      }
    },
    data(){
      return {
      }
    },
    methods:{ // no arrow function
      filterQuery(que){
        let filtered = Object.keys(que)
            .filter((key) => this.column.includes(key))
            .reduce((obj, key) => {
              obj[key] = que[key];
              return obj;
            }, {});
      return filtered
      },
      redate(day){
        let s = []; let d = day.split('/'); 
        for(let i in d){
          if(d[i].length<2) { 
            s.push(zero.concat(d[i]))
          } else {
            s.push(d[i])
          }
        }
      return s.join("/")
      }
    },
    computed:{
      query_remain(){
        let q = []
        for(let idx in this.query){
          let end = DateTime.fromFormat(this.redate(this.query[idx]['End date']), "MM/dd/yyyy")
          let now = DateTime.now()
          let remain = end.diff(now, ['months', 'days']).toObject() // {months: 71, days: 6.271395231481481}
          this.query[idx]['Remaining Time'] = `${remain['months']} Months | ${remain['days'].toFixed(2)} Days`
        }
        q = this.query
        return q
      }
    },
    mounted(){

      this.$nextTick(() => {
        console.log(this.column)
        $('#dataTable').DataTable({"order": [[ 5, "asc" ]]});
      })
    }
}
</script>

<style>

</style>