<template>
  <div class="wrapper">
    <NavBar />
    <SideBar />
    <nuxt class="content-wrapper" />
    <Footer />
  </div>
</template>

<script>
import NavBar from '../components/adminLTE/NavBar'
import SideBar from '../components/adminLTE/SideBar'
import Footer from '../components/adminLTE/Footer'

export default {
  components: {
    NavBar, SideBar, Footer
  },
}
</script>
